# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
advpng/7z/
advpng/AUTHORS
advpng/COPYING
advpng/HISTORY
advpng/INSTALL
advpng/Makefile.am
advpng/Makefile.in
advpng/README
advpng/aclocal.m4
advpng/autogen.sh
advpng/compress.cc
advpng/compress.h
advpng/config.guess
advpng/config.h.in
advpng/config.sub
advpng/configure
advpng/configure.ac
advpng/data.cc
advpng/data.h
advpng/doc/
advpng/except.h
advpng/file.cc
advpng/file.h
advpng/getopt.c
advpng/install-sh
advpng/lib/endianrw.h
advpng/lib/error.c
advpng/lib/error.h
advpng/lib/extra.h
advpng/lib/fz.c
advpng/lib/fz.h
advpng/lib/mng.c
advpng/lib/mng.h
advpng/lib/png.c
advpng/lib/png.h
advpng/lib/snstring.c
advpng/lib/snstring.h
advpng/missing
advpng/mngex.cc
advpng/mngex.h
advpng/noautomake.sh
advpng/pngex.cc
advpng/pngex.h
advpng/portable.h
advpng/redef.cc
advpng/remng.cc
advpng/repng.cc
advpng/rezip.cc
advpng/scroll.cc
advpng/scroll.h
advpng/siglock.cc
advpng/siglock.h
advpng/snprintf.c
advpng/test/
advpng/zip.cc
advpng/zip.h
advpng/zipsh.cc
gifsicle/COPYING
gifsicle/INSTALL
gifsicle/Makefile.am
gifsicle/Makefile.in
gifsicle/NEWS
gifsicle/README
gifsicle/aclocal.m4
gifsicle/config.h.in
gifsicle/configure
gifsicle/configure.ac
gifsicle/depcomp
gifsicle/gifdiff.1
gifsicle/gifsicle.1
gifsicle/gifsicle.spec
gifsicle/gifview.1
gifsicle/include/
gifsicle/install-sh
gifsicle/logo.gif
gifsicle/logo1.gif
gifsicle/missing
gifsicle/src/
imageoptim/Sparkle.framework/
jpegoptim/COPYING
jpegoptim/COPYRIGHT
jpegoptim/Makefile.in
jpegoptim/README
jpegoptim/aux/
jpegoptim/config.h.in
jpegoptim/configure
jpegoptim/configure.in
jpegoptim/getopt.c
jpegoptim/getopt.h
jpegoptim/getopt1.c
jpegoptim/jpegoptim.1
jpegoptim/jpegoptim.c
jpegoptim/redhat/
libjpeg/Makefile.am
libjpeg/Makefile.in
libjpeg/README
libjpeg/aclocal.m4
libjpeg/ansi2knr.1
libjpeg/ansi2knr.c
libjpeg/cderror.h
libjpeg/cdjpeg.c
libjpeg/cdjpeg.h
libjpeg/change.log
libjpeg/cjpeg.1
libjpeg/cjpeg.c
libjpeg/ckconfig.c
libjpeg/coderules.txt
libjpeg/config.guess
libjpeg/config.sub
libjpeg/configure
libjpeg/configure.ac
libjpeg/depcomp
libjpeg/djpeg.1
libjpeg/djpeg.c
libjpeg/example.c
libjpeg/filelist.txt
libjpeg/install-sh
libjpeg/install.txt
libjpeg/jaricom.c
libjpeg/jcapimin.c
libjpeg/jcapistd.c
libjpeg/jcarith.c
libjpeg/jccoefct.c
libjpeg/jccolor.c
libjpeg/jcdctmgr.c
libjpeg/jchuff.c
libjpeg/jcinit.c
libjpeg/jcmainct.c
libjpeg/jcmarker.c
libjpeg/jcmaster.c
libjpeg/jcomapi.c
libjpeg/jconfig.bcc
libjpeg/jconfig.cfg
libjpeg/jconfig.dj
libjpeg/jconfig.mac
libjpeg/jconfig.manx
libjpeg/jconfig.mc6
libjpeg/jconfig.sas
libjpeg/jconfig.st
libjpeg/jconfig.txt
libjpeg/jconfig.vc
libjpeg/jconfig.vms
libjpeg/jconfig.wat
libjpeg/jcparam.c
libjpeg/jcprepct.c
libjpeg/jcsample.c
libjpeg/jctrans.c
libjpeg/jdapimin.c
libjpeg/jdapistd.c
libjpeg/jdarith.c
libjpeg/jdatadst.c
libjpeg/jdatasrc.c
libjpeg/jdcoefct.c
libjpeg/jdcolor.c
libjpeg/jdct.h
libjpeg/jddctmgr.c
libjpeg/jdhuff.c
libjpeg/jdinput.c
libjpeg/jdmainct.c
libjpeg/jdmarker.c
libjpeg/jdmaster.c
libjpeg/jdmerge.c
libjpeg/jdpostct.c
libjpeg/jdsample.c
libjpeg/jdtrans.c
libjpeg/jerror.c
libjpeg/jerror.h
libjpeg/jfdctflt.c
libjpeg/jfdctfst.c
libjpeg/jfdctint.c
libjpeg/jidctflt.c
libjpeg/jidctfst.c
libjpeg/jidctint.c
libjpeg/jinclude.h
libjpeg/jmemansi.c
libjpeg/jmemdos.c
libjpeg/jmemdosa.asm
libjpeg/jmemmac.c
libjpeg/jmemmgr.c
libjpeg/jmemname.c
libjpeg/jmemnobs.c
libjpeg/jmemsys.h
libjpeg/jmorecfg.h
libjpeg/jpegint.h
libjpeg/jpeglib.h
libjpeg/jpegtran.1
libjpeg/jpegtran.c
libjpeg/jquant1.c
libjpeg/jquant2.c
libjpeg/jutils.c
libjpeg/jversion.h
libjpeg/libjpeg.map
libjpeg/libjpeg.txt
libjpeg/ltmain.sh
libjpeg/makcjpeg.st
libjpeg/makdjpeg.st
libjpeg/makeadsw.vc6
libjpeg/makeasln.vc9
libjpeg/makecdep.vc6
libjpeg/makecdsp.vc6
libjpeg/makecmak.vc6
libjpeg/makecvcp.vc9
libjpeg/makeddep.vc6
libjpeg/makeddsp.vc6
libjpeg/makedmak.vc6
libjpeg/makedvcp.vc9
libjpeg/makefile.ansi
libjpeg/makefile.bcc
libjpeg/makefile.dj
libjpeg/makefile.manx
libjpeg/makefile.mc6
libjpeg/makefile.mms
libjpeg/makefile.sas
libjpeg/makefile.unix
libjpeg/makefile.vc
libjpeg/makefile.vms
libjpeg/makefile.wat
libjpeg/makejdep.vc6
libjpeg/makejdsp.vc6
libjpeg/makejdsw.vc6
libjpeg/makejmak.vc6
libjpeg/makejsln.vc9
libjpeg/makejvcp.vc9
libjpeg/makeproj.mac
libjpeg/makerdep.vc6
libjpeg/makerdsp.vc6
libjpeg/makermak.vc6
libjpeg/makervcp.vc9
libjpeg/maketdep.vc6
libjpeg/maketdsp.vc6
libjpeg/maketmak.vc6
libjpeg/maketvcp.vc9
libjpeg/makewdep.vc6
libjpeg/makewdsp.vc6
libjpeg/makewmak.vc6
libjpeg/makewvcp.vc9
libjpeg/makljpeg.st
libjpeg/maktjpeg.st
libjpeg/makvms.opt
libjpeg/missing
libjpeg/rdbmp.c
libjpeg/rdcolmap.c
libjpeg/rdgif.c
libjpeg/rdjpgcom.1
libjpeg/rdjpgcom.c
libjpeg/rdppm.c
libjpeg/rdrle.c
libjpeg/rdswitch.c
libjpeg/rdtarga.c
libjpeg/structure.txt
libjpeg/testimg.bmp
libjpeg/testimg.jpg
libjpeg/testimg.ppm
libjpeg/testimgp.jpg
libjpeg/testorig.jpg
libjpeg/testprog.jpg
libjpeg/transupp.c
libjpeg/transupp.h
libjpeg/usage.txt
libjpeg/wizard.txt
libjpeg/wrbmp.c
libjpeg/wrgif.c
libjpeg/wrjpgcom.1
libjpeg/wrjpgcom.c
libjpeg/wrppm.c
libjpeg/wrrle.c
libjpeg/wrtarga.c
libpng/ANNOUNCE
libpng/CHANGES
libpng/CMakeLists.txt
libpng/INSTALL
libpng/LICENSE
libpng/Makefile.am
libpng/Makefile.in
libpng/README
libpng/TODO
libpng/aclocal.m4
libpng/autogen.sh
libpng/config.guess
libpng/config.h.in
libpng/config.sub
libpng/configure
libpng/configure.ac
libpng/contrib/
libpng/depcomp
libpng/example.c
libpng/install-sh
libpng/libpng-1.4.5-optipng.diff
libpng/libpng-1.4.5.txt
libpng/libpng-config.in
libpng/libpng.3
libpng/libpng.pc.in
libpng/libpngpf.3
libpng/ltmain.sh
libpng/missing
libpng/png.5
libpng/png.c
libpng/png.h
libpng/pngbar.jpg
libpng/pngbar.png
libpng/pngconf.h
libpng/pngerror.c
libpng/pngget.c
libpng/pngmem.c
libpng/pngnow.png
libpng/pngpread.c
libpng/pngpriv.h
libpng/pngread.c
libpng/pngrio.c
libpng/pngrtran.c
libpng/pngrutil.c
libpng/pngset.c
libpng/pngtest.c
libpng/pngtest.png
libpng/pngtrans.c
libpng/pngusr.h
libpng/pngwio.c
libpng/pngwrite.c
libpng/pngwtran.c
libpng/pngwutil.c
libpng/projects/
libpng/scripts/
libpng/test-pngtest.sh
optipng/lib/
optipng/patched
optipng/src/
pngcrush/ChangeLog.html
pngcrush/Makefile-nolib
pngcrush/adler32.c
pngcrush/cexcept.h
pngcrush/compress.c
pngcrush/crc32.c
pngcrush/crc32.h
pngcrush/deflate.c
pngcrush/deflate.h
pngcrush/infback.c
pngcrush/inffast.c
pngcrush/inffast.h
pngcrush/inffixed.h
pngcrush/inflate.c
pngcrush/inflate.h
pngcrush/inftrees.c
pngcrush/inftrees.h
pngcrush/png.c
pngcrush/pngcrush.c
pngcrush/pngcrush.h
pngcrush/pngdebug.h
pngcrush/pngerror.c
pngcrush/pngget.c
pngcrush/pnginfo.h
pngcrush/pnglibconf.h
pngcrush/pngmem.c
pngcrush/pngpread.c
pngcrush/pngpriv.h
pngcrush/pngread.c
pngcrush/pngrio.c
pngcrush/pngrtran.c
pngcrush/pngrutil.c
pngcrush/pngset.c
pngcrush/pngstruct.h
pngcrush/pngtrans.c
pngcrush/pngwio.c
pngcrush/pngwrite.c
pngcrush/pngwtran.c
pngcrush/pngwutil.c
pngcrush/trees.c
pngcrush/trees.h
pngcrush/uncompr.c
pngcrush/zconf.h
pngcrush/zlib.h
pngcrush/zutil.c
pngcrush/zutil.h
zlib/ChangeLog
zlib/FAQ
zlib/INDEX
zlib/Makefile.in
zlib/README
zlib/adler32.c
zlib/algorithm.txt
zlib/amiga/
zlib/as400/
zlib/compress.c
zlib/configure
zlib/contrib/
zlib/crc32.c
zlib/crc32.h
zlib/deflate.c
zlib/deflate.h
zlib/example.c
zlib/examples/
zlib/gzio.c
zlib/infback.c
zlib/inffast.c
zlib/inffast.h
zlib/inffixed.h
zlib/inflate.c
zlib/inflate.h
zlib/inftrees.c
zlib/inftrees.h
zlib/make_vms.com
zlib/minigzip.c
zlib/msdos/
zlib/old/
zlib/projects/
zlib/qnx/
zlib/trees.c
zlib/trees.h
zlib/uncompr.c
zlib/win32/
zlib/zconf.h
zlib/zconf.in.h
zlib/zlib.3
zlib/zlib.h
zlib/zutil.c
zlib/zutil.h